@import "tailwindcss";

@theme {
  --font-sans: "Century Gothic", "CenturyGothic", "URW Gothic", AppleGothic, sans-serif;
}

html,
body,
#root {
  font-family: "Century Gothic", "CenturyGothic", "URW Gothic", AppleGothic, sans-serif;
}

#root,
#root * {
  font-family: "Century Gothic", "CenturyGothic", "URW Gothic", AppleGothic, sans-serif !important;
}
